*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
pyvenv.cfg
bin/
buildout-cache/
develop-eggs/
include/
lib/
lib64
parts/
src/*
!src/collective
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
*.html
*.komodoproject
share/
local/
pip-selfcheck.json
