recursive-include src *
recursive-include docs *
include *.py
include *.rst
include buildout.cfg
include travis.cfg
global-exclude *pyc
exclude .coveragerc
exclude .editorconfig
exclude .gitattributes
