recursive-include src *
recursive-include docs *
include *.py
include *.rst
global-exclude *pyc
exclude .coveragerc
exclude .editorconfig
exclude .gitattributes
exclude .travis.yml
exclude *.cfg
include *.txt
include Makefile
