[buildout]

parts +=
    coverage
    test-coverage
    createcoverage

extends =
    https://dist.plone.org/release/6.0-latest/versions.cfg
    base.cfg

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage
